[user]
	name = John Bridgman
	email = johnfbiii@gmail.com
[merge]
	tool = meld
[alias]
	st = status -s
	b = branch -avv
[diff]
	guitool = meld
[push]
	default = nothing
	recurseSubmodules = check
[core]
	autocrlf = false
[pull]
	ff = only
[rebase]
	stat = true
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
[advice]
	detachedHead = false
