[user]
	name = John Bridgman
	email = johnfb@arlut.utexas.edu
[merge]
	tool = kdiff3
[gui]
	recentrepo = /home/johnfb/src/z
[alias]
	st = status -s
	b = branch -avv
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
